[Desktop Entry]
Encoding=UTF-8
Name=Plasmataker
Comment=Helltaker dancing girls plasmoid
Type=Service
Icon=icon.png

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Name=Plasmataker
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Solant
X-KDE-PluginInfo-Name=com.solant.plasmataker
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/Solant/plasmataker
X-KDE-ServiceTypes=Plasma/Applet
